{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<style>
<body>
body{
}
h1 {
    font-weight: normal;
    text-align: left;
    font-size: 35px;
}
h2 {
    font-weight: normal;
    text-align: left;
    font-size: 20px;
}
h3 {
    font-weight: normal;
    text-align: left;
    font-size: 20px;
}
h4 {
    font-weight: normal;
    text-align: left;
    font-size: 20px;
}
</style>
<h1> Information for Admin: </h1>
<p>DGHNM_INT 3308_1</p>
<p>Team K59N</p>
<h2>Trần Mạnh Hùng_14020220</h2>
<p> <img src ="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/14079489_672358116262729_1655287449786498044_n.jpg?oh=0fe7c0c82bcb561e3c3b6cfda5e8159a&oe=5A7DA94A" width="300" heisght="400"/></p>
<h3>Phạm Hoàng Long_14020264</h3>
<p><img src = "https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/12729201_982711158475266_6953996090601208328_n.jpg?oh=d7b65f4f097760137458a2745bb2e0d3&oe=5A80942C" width="300" height="400"/></p>
<h4>Nguyễn Mạnh Việt_14020551</h4>
<p><img src = "https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/17424700_1812897639031856_5102436688373178032_n.jpg?oh=c6e22931a4a96b275ec8f84c706e5df6&oe=5A6B7B60" width="300" height="400"/></p>
<h5>Thank You Very Much</h5>
</body>
</html>
{% endblock %}
