{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}
h4 {
	text-align: center;
}
h6 {
	font-size: 20px;
}
</style>

<body>
<h3>{{title}}</h3>
<center><iframe width="1000" height="700" src="https://www.youtube.com/embed/N-Eku9b5Ue0?autoplay=1" frameborder="0" allowfullscreen></iframe></center>
<form action="" method="post" name="search_product">
{{form.hidden_tag()}}
	<center><p> Please enter product name you’d like to find:
	<br>{{form.vatgia_name(size=60)}}<br>
	</p></center>
    	<center><p><input type="submit" value="Find now"></p></center>
</body>
</form>
{% if posts %}
<h5>Search Results:</h5>

<table id="t01" style="width:100%">
    <thead>
        <tr>
            <th> # </th>
            <th> Product name </th>
            <th> Price </th>
            <th> Rate </th>
	    <th> Price/Ship </th>
	    <th> Other Infor </th>
	    <th> Work Times  </th>
        </tr>
    </thead>
    <tbody>
        {% for p in posts %}
        <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
	    <td><center>{{ p[3] }}</center></td>
	    <td><center>{{ "Free" }}</center></td>
	    <td><center>{{ "None" }}</center></td>
	    <td><center>{{ "24/7" }}</center></td>
        </tr> 
        {% endfor %}
    </tbody>
</table>
<h6>Thanks You</h6>
{% endif %}
{% endblock %} 
</html>
